<h2> Edit Product </h2>
<%= render "form", product: @product %>
<%= link_to "Delete", store_product_path(@product.store_id, @product.id), data:{turbo_method: :delete, turbbo_confirm: "Are you surw?"}, class:"mt-2 btn btn-outline-danger" %>
