<h2> Edit creation </h2>
<main class="m-auto d-flex col-12">
    <div class="col-5">
        <% if @store.errors.any? %>
            <div id="error_explanation" data-turbo-cache="false">
                <ul>
                    <% @store.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <%= form_with model: [ :manager, @store] do |form| %>
            <div class="mb-3">
                <%= form.label :name, class: "form-label" %></br>
                <%= form.text_field :name, required: :true, class: "form-control" %>
            </div>
            <div class="mb-3">
                <%= form.label :description, class: "form-label" %></br>
                <%= form.text_area :description, required: :true, class: "form-control" %>
            </div>
            <div class="mb-3">
                <%= form.label :phone, class: "form-label" %></br>
                <%= form.text_field :phone, required: :true, class: "form-control" %>
            </div>
            <div>
                <%= form.submit "Edit store", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</main>
