<div class="bg-body-tertiary col-md-5 col-lg-4 order-md-last" style="border-radius:20px;background:#6d757d;">
        
    <div class="mt-3 list-group mb-3">
      <div>
        <p class="my-0">
          <%= link_to "Profile", current_user, class:"nav-link" %>
        </p>
      </div>
      <hr>
      <div>
        <p class="my-0">
          <%= link_to "My order", orders_path, class:"nav-link" %>
        </p>
      </div>
      <hr>

      <div>
        <p class="my-0">
          <%= link_to "Setting", edit_user_registration_path, class:"nav-link" %>
        </p>
      </div>
    </div>
    <hr>

  </div>