<div class="row g-5">

  <%= render "users/profile_sidebar" %>
  <div class="col-md-7 col-lg-8">
    <h2>
      <img src="/images/<%= @avatar %>.png" alt="<%=@user.name%>" class="rounded-circle"> <%= @user.name %>
    </h2>
    <%= link_to "create store", create_stor_info_path, class:"mt-5 btn btn-outline-primary" %>
  </div>

</div>