<main>
  <div class="py-5 text-center">
    <h2>Thank you for your order</h2>
    
  </div>
  <div class="row g-5">
    <div class="bg-body-tertiary col-md-5 col-lg-4 order-md-last" style="border-radius:20px;background:#6d757d;">
      <div class="mt-3 list-group mb-3">
        <div>
          <p class="my-0">Your adress:</p>
          <small class="text-body-secondary"><%= @order.country%> <%=@order.address %></small>
        </div>
        <hr>
        <div>
          <p class="my-0">Recipient:</p>
          <small class="text-body-secondary"><%= @order.name%> <%=@order.last_name %></small>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <p class="my-0">To pay:</p>
          <small class="text-body-secondary"><%= number_to_currency(@order.sum_price) %></small>
        </div>
      </div>
    </div>

    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Your order №<%= @order.id %></h4>
      
      <div class="col-12 d-flex flex-column">
        <div class="col-11 d-flex justify-content-between">
          <p class="col-3">
            Product name
          </p>
          <p class="col-1">
            Price
          </p>
          <p class="col-1">
            Count
          </p>
          <p class="col-2">
            sum
          </p>
          <p class="col-2">
            Status
          </p>
          <p class="col-2">
            Payment status
          </p>
        </div>

        <% @order_products.each do |order_product| %>
          <div class="col-11 d-flex justify-content-between bg-body-tertiary">
            <div class="text-body-secondary d-flex col-3 justify-content-between">
              <% if order_product.product %>
                <p class="col-3">
                <img src= <%= order_product.product_image %> alt= "<%= order_product.product_name%>" >
                </p>
              <% else %>
                <p class="col-4">
                  <%= image_tag("no_picture_image.png") %>
                </p>
              <% end %>
              <p class="col-8"><%= order_product.product_name %></p><br>
            </div>
            <p class="text-body-secondary col-1">
              <%= number_to_currency(order_product.product_price) %>
            </p>
            <p class="text-body-secondary col-1">
              <%= order_product.product_count %>
            </p>
            <p class="text-body-secondary col-2">
              <%= number_to_currency(order_product.product_price * order_product.product_count) %>
            </p>
            <p class="text-body-secondary col-2">
              <%= order_product.order.status %>
            </p>
            <% if @order.payment.status? %>
                <p class="col-2 text-body-secondary">paid</p>
              <% else %>
                <p class="col-2 text-body-secondary">not paid</p>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>