/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* product cart */
 .line-through{
  text-decoration: line-through;
  font-size: 12px;
 }
 .discount{
  color:red
 }
 .product_rating{
  font-size: 13px;
 }

 /* store show */
.store_show_name{
  margin-right: 10px;
} 

/* product index */
.index_product_wrap{
margin-top: 1px;}
.category_header{
  margin-bottom: 35px;
}

/* product show */
 .product_name{
  margin-right: 15px;
 }
 .product_category_name{
  text-decoration: underline;
 }
 .progress{
  width: 100px;
  margin-right: 5px;
 }
 .progress_card{
  height: 12px;
  width: 75px;
 }
 .product_image{
  display:block;
  margin-bottom: 10px
 }
.product_side_bloc_button{
  width: 70px;
  margin-left: 15px;
}
.product_show_side_bloc{
  padding: 10px;
}
.product_show_store_side_bloc{
  margin-right: 10px;
}
.product_show_store_name_side_bloc{
  font-size: 14px;
}
.side_bloc_price_wrap{
  margin-top: 46px;
  margin-bottom: 25px;
}
.side_bloc_price{
  margin-top: 10px;
}
.product_show_index{
  padding: 10px;
}
.carousel_image{
  height: 600px;
}
.product_card_img{
  width: 250px;
  border-radius: 5px 5px 0 0 ;
}
.product_show_under_blok{
  margin-top: 50px;
}
.reviews{
  padding: 10px;
}
.prooduct_description_show_under_blok{
  padding: 10px;
}

/* review */
.review_name
{
margin-bottom: 5px;
}
.review_body{
  margin-top: 5px;
}
.review_rating{
  font-size: 16px;
  color: #ffc107;
}

/* order */
.order_list{
  font-size: 15px;
}
/* order show */
.user_order_search{
  margin-bottom: 5px;
}
table {
  border: 2px solid #9f9d9d;
  border-radius: 3px;
  background-color: #fff;
}

th {
  background-color: #9f9d9d;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

/* --- */

/* manager portaol */
.manager_store_item_product{
  min-height: 35px;
  max-height: 65px;
 }
.product_manager_img{
  width: 65px;
}
.manager_order_img{
  width: 50px;
}
.manager_tabs_wrap{
  margin-bottom: 10px;
}
.statistic_chart_wrap{
  width: 800px;
}
